.ul{
  display: flex;
  justify-content: space-around;
  font-size: 20px;

}

.ul li{
  list-style: none;
}

.li:hover::after{
  content: '';
  display: block;
  border-bottom: 2px solid rgba(255, 0, 0, 0.575);
  margin-top: 3px;
}

.active::after{
  content: '';
  display: block;
  border-bottom: 2px solid rgba(255, 0, 0, 0.575);
  margin-top: 3px;
}