.h1{
  margin-bottom: 120px;
  font-size: 46px;
  font-weight: 600;
}


.flexDiv{
  display: flex;
}



.p{
  margin:0px;
  margin-left: 15px;
  margin-top: 2px;
  font-size: 22px;
 
}

.paragInfo{
  margin:0px;
  margin-left: 15px;
  margin-top: 2px;
  font-size: 15px;
}

.mainText{
  font-size: 18px;
}

.button{
  background-color: white;
  border:1px solid red;
  margin-right: 10px;
  box-sizing: border-box;
  padding: 5px 15px;
 
}

.button span{
    text-align: center;
    letter-spacing: 2px;
   
}

.moveBlock{
  margin: 20px 0 60px 0;
}